# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Environnements
.venv/
venv/
env/
.env
*.env
!.env.example

# Django
*.log
*.sqlite3
/staticfiles/
/media/
local_settings.py

# Tests / outils
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.mypy_cache/

# Node / front (Phase 10)
node_modules/
/static/dist/

# IDE / OS
.idea/
.vscode/
.DS_Store
